/*Specification*/
body {
    position: relative;
    font-family: 'Merriweather', 'Helvetica Neue', 'Arial', serif;
}
/*For ScrollSpy*/
main {
    position: relative;
    overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}
a,
a:hover,
a:active,
a:focus {
    color: #f05f40;
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
    padding: 1rem 2em;
}
.bg-transparent {
    background-color: transparent !important;
}
.bg-dark {
    background-color: #212529!important;
}
.text-faded {
    color: rgba(255,255,255,.7) !important;
}
.text-primary {
    color: #f05f40 !important;
}
.bg-primary {
    background-color: #f05f40 !important;
}
.btn-primary {
    background-color: #f05f40 !important;
    border-color: #f05f40 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #ee4b28 !important;
}
.btn-secondary {
    color: #212529;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #e2e6ea !important;
}
.line {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 50px;
    height: 2px;
}
.p-section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}
/*Navigation*/
.navigation {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
    z-index: 1110;
}
.navigation__link {
    font-size: .9rem;
    padding: .5rem 1em;
}
.navbar-dark .navigation__brand {
    color: rgba(255,255,255,.7);
}
.navbar-dark .navigation__brand:hover,
.navbar-dark .navigation__brand:active,
.navbar-dark .navigation__brand:focus,
.navbar-dark .navigation__link:hover,
.navbar-dark .navigation__link:active,
.navbar-dark .navigation__link:focus {
    color: #fff !important;
    text-decoration: none;
}
.navbar-light .navigation__brand,
.navbar-light .navigation__brand:hover,
.navbar-light .navigation__brand:active,
.navbar-light .navigation__brand:focus {
    color: #f05f40!important;
}
.navbar-light .navigation__link {
    color: #212529 !important;
}
.navbar-light .navigation__link:hover,
.navbar-light .navigation__link:active,
.navbar-light .navigation__link:focus {
    color: #f05f40 !important;
}
/*Heading*/
.heading {
    height: 100vh;
    min-height: 600px;
    background-image: url('../img/header.jpg');
    background-size: cover;
}
.heading__title {
    font-size: 2rem;
}
.heading__text {
    font-size: 1.15rem;
    font-weight: 300;
}
/*About*/
/*Features*/
.feature__icon {
    font-size: 4rem;
}
/*Gallery*/
.gallery-item {
    position: relative;
}
.gallery-item__caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240,95,64,.9);
    z-index: 1100;
}
.gallery-item__wrapper:hover .gallery-item__caption {
    display: flex;
}
.gallery-item__description {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}
.gallery-item__description__title {
    font-size: 1.5em;
}
/*Contacts*/
.contacts__icon {
    font-size: 3em;
    transition: .2s;
}
@media(min-width: 992px) {
    /*Heading*/
    .heading__title {
        font-size: 4rem;
    }
}
@media(min-width: 768px) {
    /*Heading*/
    .heading__title {
        font-size: 3.5rem;
    }
}
@media(min-width: 576px) {
    /*Heading*/
    .heading__title {
        font-size: 3rem;
    }
}